* {padding: 0; margin: 0;}
ul, li {list-style: none;}
img {max-width: 100%; height: auto;}

header {border-top: 3px solid green;}
header .wrap {border-bottom: 1px solid #777;}
header .wrap .top {width: 1008px; margin: 0 auto; overflow: hidden;}
.wrap .top .top_left {float: left; padding: 11px 7px;}
.wrap .top .top_right {float: right;}
.wrap .top .top_right li {display: inline;}
.wrap .top .top_right li a {
    display: inline-block;
    color: #666666;
    padding: 11px 7px;
    text-decoration: none;
}
.top_right li span {border-left: 1px solid #666666; padding-left: 11px;}

.wrap .top .left {float: left;}
.wrap .top .right {float: right; margin-top: 10px;}
.wrap .top fieldset {
    margin: 36px 0 0 11px;
    border: none;
    background-image: url('img_melon/melon_search.png');
    width: 323px;
    height: 40px;
    overflow: hidden;
}
.wrap .top fieldset input {
    float: left;
    width: 260px;
    height: 25px;
    border: none;
    margin: 7px 0 0 18px;
}
.wrap .top fieldset button {
    float: right;
    width: 45px;
    height: 40px;
    margin: 0;
    border: none;
    background-image: url('img_melon/melon_btn.png');
    background-color: #fff;
    cursor: pointer;/* 손구락 */
}
/* 아래헤더 */
.top .gnb_left {float: left;}
.top .gnb_right {float: right;}
.top .gnb_left li {display: inline;}

.top .gnb_right li a,
.top .gnb_left li a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-weight: 900;
    /* 너비, 높이지정해서 */
    padding: 5px 15px 10px 15px;
}
.top .gnb_left li a:hover {
    color: green;
}


/* 컨텐츠영역 */
section .wrap {width: 1008px; margin: 0 auto;}

section .cont {overflow: hidden;}
section .cont .list {float: left; width: 480px;}
section .cont .slide {float: left; width: 236px; margin-left: 4px;}
section .cont .login {float: left; width: 280px; margin-left: 8px;}

.list ul {overflow: hidden;}
.list ul li {float: left; width:33.3333%; box-sizing: border-box;}

.list ul li a {position: relative; display: inline-block;/* a컨텐츠가 이미지 사이즈에 맞게 채워짐 */ }
.list ul li a .singer {
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 22px;
    background-color: #000;
    opacity: 0.9; /* 투명도 */
    text-align: center;
    color: #fff;
    font-weight: 700;
}

/* 호버컨텐츠 */
.list ul li {position: relative;}
.list ul li .hover_cont {
    position: absolute;
    top:0;
    left: 0;
    width: 156px;/* 이미지 크기에 맞춤 */
    height: 156px;
    background-color: rgba(0, 0, 0 , 0.8);
    line-height: 155px; /* 글씨수직정렬 */
    text-align: center;
    opacity: 0; /* 투명도 0으로 처리했다가 호버시 투명도1 */
    transition: opacity 0.25s ease-in-out;
}
.list ul li .hover_cont a {
    /* 글씨 */
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.list ul li:hover > .hover_cont {opacity: 1;}

/* 로그인영역 */

.login .user {border: 1px solid #999999; background-color: #FBFBFB; height: 115px; padding: 0px 17px;}
.login .user .inner {overflow: hidden; padding-top: 23px;}
.login .user .inner .left {float: left; color:#939393; font-size: 11px;}
.login .user .inner .right {float: right; color:#939393; font-size: 11px;}
.login .user button {
    width: 100%; 
    height: 42px;
    background-color: #00d344;
    border: none;
    margin-top: 10px;
}

.login .promotion {border: 1px solid #999999; margin-top: 10px;}